header {
  background-color: var(--color-grey);
  padding: 0 2em;
  height: 10vh;
}

.link-header {
  color: var(--color-black);
  text-decoration: none;
  margin-left: 1em;
}

.link-header:hover {
  color: var(--red-light);
  text-decoration: none;
}

.pe-none {
  color: var(--red-light);
}

.number-item-cart {
  font-size: 0.8em;
  color: var(--color-black);
}