form {
   background-color: var(--red-dark);
}

form h3 {
   color: var(--color-black);
}

input:hover {
   box-shadow: var(--box-shadow-white);
}

.errors {
   color: var(--color-black);
   font-size: 0.8rem;
}

#btn-form {
   background-color: var(--color-black);
   color: var(--red-dark);
}

#btn-form:hover {
   background-color: var(--color-black);
   color: var(--red-dark);
}

.btn-change {
   background-color: var(--color-grey);
}

.btn-change:hover {
   background-color: var(--red-light);
}