.card {
   margin: 3em;
   background-color: var(--red-dark);
   transition-duration: 0.3s;
}

.grow {
   width: 28%;
   transition-duration: 0.4s;
   box-shadow: var(--box-shadow-white);
   margin: 1.5em 3em;
}

.btn-add {
   background-color: var(--color-black);
   color: white;
}

.btn:hover {
   background-color: var(--color-black);
}