.border-cart {
   color: var(--color-grey);
}

.btn-remove {
   background-color:var(--red-dark);
}

.btn-remove:hover {
   background-color:var(--red-dark);
   color: var(--color-black)
}

.btn-menu:hover {
   background-color: transparent;
   color: white;
}

.btn-add:hover {
   color: white;
}